@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    margin: 0;
}

.App * {
    font-family: 'Roboto', sans-serif;
    
}
.App {
    h1 {text-align: center;}
    .post-create {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
}